
@font-face {
    font-family: 'Gotham';
    src: url('./Gotham-Book.ttf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('./Helvetica Neue LT Std 45 Light.otf');
    font-weight: 300;
    font-style: normal;
  }



@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('./Helvetica Neue LT Std 55 Roman.otf');
    font-weight: 400;
    font-style: normal;
  }
  

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('./Helvetica Neue LT Std 65 Medium.otf');
    font-weight: 500;
    font-style: normal;
  }