html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gotham';
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,
button,
textarea,
select {
    outline: none;
}

a:hover {
    text-decoration: none;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
}

h2 {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 24px;
    color: #df9331;
    text-transform: inherit;
    line-height: normal;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-transform: inherit;
    line-height: normal;
}

.button a,
.button button {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
    background-color: #333333;
    padding: 10px 25px;
    transition: .3s;
}

.button a:hover,
.button button:hover {
    background-color: #f2d03a;
    color: #FFFFFF;
}


/*===== Start Header Area Css =====*/
.header-area {
    background: #767676;
    padding: 25px 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lg-logo img {
    width: 210px;
    height: auto;
}

.lg-navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lg-navbar ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: normal;
    margin-left: 40px;
    transition: .3s;
}

.lg-navbar ul li a:hover {
    color: #f2d03a;
}

.mobile-menu-icon {
    padding: 7px 5px;
    display: none;
    background-color: #ffcb4d;
}

.all-p-humber {
    width: 22px;
    height: 18px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}

.all-p-humber span {
    display: block;
    position: absolute;
    height: 1px;
    width: 22px;
    background: #333333;
    border-radius: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.all-p-humber span:nth-child(1) {
    top: 1px;
}

.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
    top: 8px;
}

.all-p-humber span:nth-child(4) {
    top: 16px;
}

.all-p-humber.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.all-p-humber.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.all-p-humber.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.all-p-humber.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/*===== End Header Area Css =====*/

/*===== Start Empieza Area Css =====*/

.lg-empieza-area {
    background: url('/public/em.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 315px;
    text-align: center;
}

.lg-empieza-content h2,
.lg-empieza-content p {
    color: #FFFFFF;
}

.lg-empieza-content p {
    font-family: 'Helvetica Neue LT Std';
    margin-top: 15px;
    margin-bottom: 50px;
}

.lg-empieza-content .button a {
    background-color: #FFFFFF;
    color: #333333;
}

.lg-empieza-content .button a:hover {
    background-color: #f2d03a;
    color: #FFFFFF;
}


/*===== End Empieza Area Css =====*/


/*===== Start Footer Area Css =====*/
.lg-footer-area {
    background: #333333;
    padding: 40px 0;
}

.lg-footer-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.single-top-content p,
.single-top-content a {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    transition: .3s;
}

.single-top-content p {
    max-width: 395px;
    margin-right: 65px;
}

.single-top-content a {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.lg-footer-bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left-content p {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-bottom-right-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-bottom-right-content ul li a {
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 60px;
    transition: .3s;
}

.footer-bottom-right-content ul li a:hover,
.single-top-content a:hover {
    color: #f2d03a;
}


/*===== End Footer Area Css =====*/


/*===== Start Locatel Gold Area Css =====*/

.locatelgold-area {
    background: #FFFFFF;
    padding: 60px 0;
}
.locatelgold-content {
    text-align: center;
}
.locatelgold-content p {
    font-size: 15px;
    line-height: 1.4;
}
.locatelgold-content h2 {
    margin-bottom: 40px;
}
.single-locatel-gold {
    margin-top: 35px;
}
.single-locatel-gold img {
    height: 50px;
    width: auto;
}
.single-locatel-gold p {
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.2;
}
.locatelgold-bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.locatelgold-bottom-logo img {
    margin: 0 10px;
}

/*===== End Locatel Gold Area Css =====*/


/*===============================************===========================*/
/*============****** START MOBILE RESPONSIVE CSS CODE ******============*/
/*===============================************===========================*/


@media all and (max-width: 923px) {
    .lg-logo img {
        width: 180px;
    }

    .lg-navbar ul li a {
        font-size: 15px;
        margin-left: 30px;
    }

    .lg-hero-right-slide img {
        width: 270px;
    }

    .single-top-content p,
    .single-top-content a {
        font-size: 13px;
    }

    .footer-bottom-right-content ul li a {
        margin-left: 35px;
    }

    .lg-empieza-area {
        padding: 180px 0 220px;
    }

}

@media all and (min-width: 768px) {
    .lg-footer-content {
        flex-direction: column;
    }
}


@media all and (max-width: 767px) {
    .mobile-menu-icon {
        display: block;
    }

    .lg-navbar ul {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 73px;
        background: #fad02d;
        width: 100%;
        padding: 25px 15px;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        z-index: 999;
    }
    .lg-navbar ul.showMenu {
        visibility: visible;
        opacity: 1;
    }


    .lg-navbar ul li a:hover {
        color: #333333;
    }

    .lg-navbar ul li a {
        margin: 6px 0;
    }

    .header-area {
        padding: 20px 0;
    }

    .lg-hero-slide-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .lg-hero-left-slide,
    .lg-hero-right-slide {
        flex: 0 0 100%;
        text-align: center;
        width: 100%;
    }

    .lg-hero-left-slide h1 br {
        display: none;
    }

    .lg-hero-left-slide p {
        max-width: 100%;
    }

    .lg-hero-left-bottom-content {
        justify-content: center;
    }

    .lg-hero-left-btm-img img {
        width: 25px;
        height: 25px;
    }

    .lg-hero-left-btm-content p {
        font-size: 12px;
    }

    .lg-hero-slide-area {
        background: #333333;
        padding: 40px 0;
    }

    .lg-hero-right-slide img {
        max-width: 270px;
        margin-bottom: 25px;
    }

    .lg-hero-bottom-right-content .button a {
        padding-left: 14px;
        padding-right: 14px;
        font-size: 10px;
    }

    .lg-hero-bottom-content p {
        font-size: 14px;
    }

    .lg-hero-bottom-area {
        padding: 30px 0;
    }

    .lg-empieza-area {
        padding: 140px 0 170px;
        background-position: center;
    }

    .lg-footer-top-content {
        flex-direction: column;
        margin-bottom: 0;
    }

    .lg-footer-content {
        display: flex;
        flex-direction: row;
    }

    .lg-footer-top-content {
        flex-direction: column;
        margin-bottom: 0;
        flex: 0 0 50%;
    }

    .lg-footer-bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-bottom-right-content ul li a {
        margin-left: 0;
        margin-right: 30px;
        margin-top: 30px;
    }

    .footer-bottom-right-content ul {
        flex-wrap: wrap;
    }

    .single-top-content p,
    .single-top-content a {
        font-size: 13px;
        display: block;
    }

    .lg-footer-area {
        padding: 30px 0;
    }

    .single-top-content p {
        margin-bottom: 22px;
    }

    .single-top-content a {
        margin-bottom: 15px;
    }

    .footer-bottom-left-content p {
        font-size: 14px;
    }

    .footer-bottom-right-content ul li a {
        margin-right: 25px;
        font-size: 25px;
    }

    .single-locatel-gold p {
        font-size: 12px;
    }
    .single-locatel-gold img {
        height: 40px;
    }
    .locatelgold-content p {
        font-size: 14px;
    }
    .locatelgold-content h2 {
        margin-bottom: 25px;
    }

}


@media all and (max-width: 575px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .lg-hero-bottom-right-content .button:first-child a {
        margin-right: 15px;
    }

    .lg-empieza-content p {
        margin-bottom: 25px;
    }

    .lg-empieza-area {
        padding: 140px 0 120px;
    }

    .lg-hero-bottom-right-content .button a {
        font-size: 9px;
        padding: 8px 10px;
    }

    .lg-hero-bottom-content p {
        font-size: 12px;
    }

    .lg-hero-bottom-area {
        padding: 25px 0;
    }

    .locatelgold-area {
        padding: 45px 0;
    }



}


@media all and (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
    .single-locatel-gold {
        flex: 0 0 50%;
        margin-top: 25px;
    }
    .locatelgold-content h2 {
        margin-bottom: 18px;
    }
    .locatelgold-area {
        padding: 35px 0;
    }
    .lg-logo img {
        width: 150px;
    }

    .lg-hero-right-slide img {
        max-width: 225px;
    }

    .lg-hero-slide-content .button a {
        font-size: 17px;
    }

    .single-top-content p,
    .single-top-content a {
        font-size: 11px;
    }

    .lg-footer-bottom-content {
        padding-left: 10px;
    }

    .footer-bottom-right-content ul li a {
        margin-right: 18px;
        font-size: 20px;
    }

    .lg-hero-bottom-content p {
        max-width: 120px;
    }

    .lg-hero-bottom-right-content .button:first-child a {
        margin-right: 10px;
    }


}