body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gotham';
  }
  html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
  }
  input, button, textarea, select {
    outline: none;
  }
  a:hover{
    text-decoration: none;
  }
  a,span {
    display: inline-block;
    text-decoration: none;
  }
  ul,li{
    margin:0;
    padding:0;
    list-style: none;
  }

  .container {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
}
h2{
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 24px;
    color: #df9331;
    text-transform: inherit;
    line-height: normal;
}

.button a,.button button {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
    background-color: #333333;
    padding: 10px 25px;
}


/*===== Start Header Area Css =====*/
.header-area {
    background: #767676;
    padding: 25px 0;
}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lg-logo img {
    width: 210px;
    height: auto;
}
.lg-navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lg-navbar ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: normal;
    margin-left: 40px;
}


/*===== Start Empieza Area Css =====*/

.lg-empieza-area {
    background: url('/public/em.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 315px;
    text-align: center;
}
.lg-empieza-content h2,.lg-empieza-content p {
    color: #FFFFFF;
}
.lg-empieza-content p {
    font-family: 'Helvetica Neue LT Std';
    margin-top: 15px;
    margin-bottom: 50px;
}
.lg-empieza-content .button a {
    background-color: #FFFFFF;
    color: #333333;
}


/*===== End Empieza Area Css =====*/






/*===== Start Footer Area Css =====*/


/*===== Start Footer Area Css =====*/
.lg-footer-area {
    background: #333333;
    padding: 40px 0;

}

.lg-footer-top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.single-top-content p,.single-top-content a {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.single-top-content p {
    max-width: 370px;
    margin-right: 65px;
}
.single-top-content a {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.lg-footer-bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-left-content p {
    font-family: 'Helvetica Neue LT Std';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.footer-bottom-right-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-bottom-right-content ul li a {
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 65px;
}


/*===== End Footer Area Css =====*/